.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color: #f3f4f6; 
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9; 
}

header {
  padding: 1rem;
  background-color: #3e8e41; 
  color: white;
}

footer {
  padding: 1rem;
  background-color: #333;
  color: white;
  text-align: center;
}